includes:
    - vendor/larastan/larastan/extension.neon
    - phpstan-baseline.neon

parameters:
    phpVersion: 80300

    paths:
        - app/

    level: max
    reportUnmatchedIgnoredErrors: true
